@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #909cc2;
	font-family: "Rubik", sans-serif;
}

.container {
	max-width: 500px;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.game__buttons {
	display: flex;
	gap: 1rem;
	margin-bottom: 2rem;
}

.button {
	padding: 0.7rem;
	border-radius: 12px;
	border: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 105%;
}

.first__button {
	color: #000000;
	background-color: #f56476;
}

.second__button {
	color: #f0f3f5;
	background-color: #642ca9;
}

.flex__container {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.information {
	margin-top: 2rem;
	margin-bottom: 4rem;
	margin-right: 4rem;
	margin-left: 4rem;
	text-align: center;
}

.current__player {
	margin-bottom: 2rem;
}

.gameboard {
	margin-bottom: 6rem;
}

.first__row {
	display: flex;
}

.second__row {
	display: flex;
}

.third__row {
	display: flex;
}

label {
	position: relative;
	cursor: pointer;
}

input {
	position: absolute;
	opacity: 0;
}

.icon__box {
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f9ab55;
	margin: 0.2rem;
}

.icon__img {
	width: 80%;
	visibility: hidden;
	position: absolute;
}

.restart__button {
	padding: 1rem;
	border-radius: 12px;
	border: none;
	color: #000000;
	background-color: #f9ab55;
	cursor: pointer;
	font-weight: 600;
	font-size: 105%;
}

@media screen and (min-width: 576px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 767px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 992px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
}
